input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body{
    background-color: black;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
}

h1{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: white;
}
h2, h3{
    font-size: 2.5rem;
    font-weight: bold;
}

h4{
    font-size: 1.5rem;
}
main{
    display: flex;
    justify-content: space-around;
}
section{
    border-radius: 5%;
    margin: 10px;
    padding: 10px;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 4vw;
    font-size: 2.5rem;
    text-align: center;
    background-color: black;
    color: white;
}

span{
    font-size: 2.5em;
}

button{
    margin: 50px;
    padding-left: 40px;
    padding-right: 40px;
    border: 2px solid white;
    background-color: black;
    color: white;
}

.factorial{
    color: #f0a1e3;
    border: 2px dashed #f0a1e3;
}

.factorial input, .factorial button{
    color: #f0a1e3;
}

.permutation{
    color: #6db5f0;
    border: 2px dashed #6db5f0;
}

.permutation input, .permutation button{
    color: #6db5f0;
}

.permInput, .combInput{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: none;
    width: 75%;
}

.combination {
    color: #bd99ff;
    border: 2px dashed #bd99ff;
}

.combination input, .combination button{
    color: #bd99ff
}

#fact-sol, #perm-sol, #comb-sol{
    width: 95%;
    display: block;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
}

@media screen and (max-width: 800px){
    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1{
        font-size: 2rem;
    }
    h2, h3{
        font-size: 1.75rem;
    }
    h4{
        font-size: 1rem;
    }
    span{
        font-size: 2rem;
    }
    section{
        width: 50vw;
    }
    input{
        width: 10vw;
        height: 10vw;
        font-size: 2rem;
    }
    button{
        margin: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
}